# movieLens 데이터셋 사용 exercise w/ 판다스!

## TO_DO:
1. 사용자가 평가한 모든 영화 전체의 평균 평점
2. 각 사용자별 평균 평점
3. 각 영화별 평균 평점
4. 가장 평균 평점이 높은 영화의 제목들 출력
5. comedy 영화 중 평점이 가장 낮은 영화의 제목
6. 2015년도에 평가된 모든 Romance 영화의 평균 평점
7. 2014년도에 평가된 Action 영화의 평점을 기준으로
    상위 10위까지 영화 출력

### timestamp
movielens 데이터셋 안에 timestamp를 보면 보통 시간 포맷이 아닌,
정수형 포맷의 알아보기 어려운 값이 들어있다.
이 이유는 각 플랫폼의 date, time 포맷이 다르기에
호환성을 제어할려고 이러한 정수값이 나온다.

### 데이터셋 호출 >>> 해줘야 프로젝트 진행되요~

In [2]:
import numpy as np
import pandas as pd

ratings = pd.read_csv("./data/movie/ratings.csv")

movie_list = pd.read_csv("./data/movie/movies.csv")

In [6]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
movie_list.columns

Index(['movieId', 'title', 'genres'], dtype='object')

### 1. 사용자가 평가한 모든 영화 전체의 평균 평점

In [13]:
ratings['rating'].mean()

3.501556983616962

### 2. 각 사용자별 평균 평점

#### 사용자1번의 평균 평점

In [24]:
# ratings파일 기반으로 users라는 사용자 목록 생성
users = ratings["userId"].unique()
# 사용자목록 0번 (사용자1번)의 마스크 생성
user1_mask = ratings['userId']==users[0]
# 사용자1번 마스크 사용해서 사용자1번의 리뷰자료들 출력 > 사용자1 리스트 생성
user1 = ratings.loc[user1_mask]
# 사용자1 리스트 기반으로 평균 평점 뽑음
user1['rating'].mean()

4.366379310344827

#### 각 사용자의 평균 평점

In [6]:
# ratings파일 기반으로 users라는 사용자 목록 생성
users = ratings["userId"].unique()

user_mean = []

for user in users:
    mask = ratings['userId']==user
    user_prf = ratings.loc[mask]
    user_mean.append([user, user_prf['rating'].mean()])

user_mean = pd.DataFrame(user_mean,columns=["사용자","평균 평점"])
user_mean.head()

   사용자     평균 평점
0    1  4.366379
1    2  3.948276
2    3  2.435897
3    4  3.555556
4    5  3.636364

### 3. 각 영화별 평균 평점

#### 영화 1번 제목, 평균 평점 출력

In [30]:
# 여기선 ratings, movie_list 둘다 사용해야 된다.

movies = ratings["movieId"].unique()
mov1_mask = ratings["movieId"]==movies[0]
mov1_rates = ratings.loc[mov1_mask]
mov1_mean = mov1_rates["rating"].mean() # 3.92~ 나온다
mov1_min = mov1_rates["rating"].min()
mov1_max = mov1_rates["rating"].max()

movie_list["min"] = np.nan
movie_list["max"] = np.nan
movie_list["mean"] = np.nan

movie_list.loc[ movie_list["movieId"]==movies[0],"min" ]= mov1_min
movie_list.loc[ movie_list["movieId"]==movies[0],"max" ]= mov1_max
movie_list.loc[ movie_list["movieId"]==movies[0],"mean" ]= mov1_mean

movie_list.head()

,movieId,title,genres,mean,min,max
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.92093,0.5,5.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN

#### 모든 영화의 min, max, mean값 부여!

In [46]:
%%time

movies = ratings["movieId"].unique()

for movie in movies:
    _mask = ratings["movieId"]==movie
    _rates = ratings.loc[_mask]
    _mean = _rates["rating"].mean()
    _min = _rates["rating"].min()
    _max = _rates["rating"].max()
    movie_list.loc[ movie_list["movieId"]==movie, "min" ] = _min
    movie_list.loc[ movie_list["movieId"]==movie, "mean" ] = _mean
    movie_list.loc[ movie_list["movieId"]==movie, "max" ] = _max
    
print("Success!")

Success!
Wall time: 1min 17s

In [48]:
display(movie_list.head())
display(movie_list.tail())

,movieId,title,genres,mean,min,max
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,0.5,5.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,0.5,5.0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,0.5,5.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,1.0,3.0
4,5,Father of the Bride Part II (1995),Comedy,3.071429,0.5,5.0

,movieId,title,genres,mean,min,max
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.0,4.0,4.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.5,3.5,3.5
9739,193585,Flint (2017),Drama,3.5,3.5,3.5
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,3.5,3.5,3.5
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,4.0,4.0,4.0

### 4. 가장 높은 평균 평점 기준으로 영화 출력

In [56]:
h_rate = movie_list["mean"].max()

# movie_list["reviewed"] = np.nan

movie_list.loc[ movie_list["mean"]==h_rate ]

,movieId,title,genres,mean,min,max,reviewed
48,53,Lamerica (1994),Adventure|Drama,5.0,5.0,5.0,NaN
87,99,Heidi Fleiss: Hollywood Madam (1995),Documentary,5.0,5.0,5.0,NaN
121,148,"Awfully Big Adventure, An (1995)",Drama,5.0,5.0,5.0,NaN
405,467,Live Nude Girls (1995),Comedy,5.0,5.0,5.0,NaN
432,495,In the Realm of the Senses (Ai no corrida) (1976),Drama,5.0,5.0,5.0,NaN
433,496,What Happened Was... (1994),Comedy|Drama|Romance|Thriller,5.0,5.0,5.0,NaN
531,626,"Thin Line Between Love and Hate, A (1996)",Comedy,5.0,5.0,5.0,NaN
536,633,Denise Calls Up (1995),Comedy,5.0,5.0,5.0,NaN
666,876,Supercop 2 (Project S) (Chao ji ji hua) (1993),Action|Comedy|Crime|Thriller,5.0,5.0,5.0,NaN
865,1140,Entertaining Angels: The Dorothy Day Story (1996),Drama,5.0,5.0,5.0,NaN
870,1151,Lesson Faust (1994),Animation|Comedy|Drama|Fantasy,5.0,5.0,5.0,NaN
1006,1310,Hype! (1996),Documentary,5.0,5.0,5.0,NaN
1037,1349,Vampire in Venice (Nosferatu a Venezia) (Nosfe...,Horror,5.0,5.0,5.0,NaN
1228,1631,"Assignment, The (1997)",Action|Thriller,5.0,5.0,5.0,NaN
1311,1759,"Four Days in September (O Que É Isso, Companhe...",Drama,5.0,5.0,5.0,NaN
1540,2075,Mephisto (1981),Drama|War,5.0,5.0,5.0,NaN
1647,2196,Knock Off (1998),Action,5.0,5.0,5.0,NaN
1889,2512,"Ballad of Narayama, The (Narayama bushiko) (1983)",Drama,5.0,5.0,5.0,NaN
2125,2824,On the Ropes (1999),Documentary|Drama,5.0,5.0,5.0,NaN
2234,2969,"Man and a Woman, A (Un homme et une femme) (1966)",Drama|Romance,5.0,5.0,5.0,NaN
2237,2972,Red Sorghum (Hong gao liang) (1987),Drama|War,5.0,5.0,5.0,NaN
2319,3073,"Sandpiper, The (1965)",Drama|Romance,5.0,5.0,5.0,NaN
2329,3086,Babes in Toyland (1934),Children|Comedy|Fantasy|Musical,5.0,5.0,5.0,NaN
2338,3096,My Man Godfrey (1957),Comedy,5.0,5.0,5.0,NaN
2480,3303,Black Tar Heroin: The Dark End of the Street (...,Documentary,5.0,5.0,5.0,NaN
2597,3473,Jonah Who Will Be 25 in the Year 2000 (Jonas q...,Comedy,5.0,5.0,5.0,NaN
2611,3496,Madame Sousatzka (1988),Drama,5.0,5.0,5.0,NaN
2639,3531,All the Vermeers in New York (1990),Comedy|Drama|Romance,5.0,5.0,5.0,NaN
2665,3567,Bossa Nova (2000),Comedy|Drama|Romance,5.0,5.0,5.0,NaN
2711,3637,Vagabond (Sans toit ni loi) (1985),Drama,5.0,5.0,5.0,NaN
...,...,...,...,...,...,...,...
9423,165959,Alesha Popovich and Tugarin the Dragon (2004),Animation|Comedy|Drama,5.0,5.0,5.0,NaN
9427,166183,Junior and Karlson (1968),Adventure|Animation|Children,5.0,5.0,5.0,NaN
9443,167064,I Am Not Your Negro (2017),Documentary,5.0,5.0,5.0,NaN
9495,170597,A Plasticine Crow (1981),Animation,5.0,5.0,5.0,NaN
9498,170777,There Once Was a Dog (1982),Animation|Children|Comedy,5.0,5.0,5.0,NaN
9518,171749,Death Note: Desu nôto (2006–2007),(no genres listed),5.0,5.0,5.0,NaN
9536,172577,Last Year's Snow Was Falling (1983),Animation|Children|Comedy|Fantasy,5.0,5.0,5.0,NaN
9537,172583,Investigation Held by Kolobki (1986),Animation,5.0,5.0,5.0,NaN
9538,172585,Karlson Returns (1970),Adventure|Animation|Children,5.0,5.0,5.0,NaN
9539,172587,Vacations in Prostokvashino (1980),Animation,5.0,5.0,5.0,NaN
9540,172589,Winter in Prostokvashino (1984),Animation,5.0,5.0,5.0,NaN
9542,172637,Priklyucheniya Kapitana Vrungelya (1979),Action|Adventure|Animation|Comedy,5.0,5.0,5.0,NaN
9543,172705,Tickling Giants (2017),Documentary,5.0,5.0,5.0,NaN
9544,172793,Vovka in the Kingdom of Far Far Away (1965),Adventure|Animation|Children|Fantasy,5.0,5.0,5.0,NaN
9546,172875,A Detective Story (2003),Animation|Sci-Fi,5.0,5.0,5.0,NaN
9549,172909,Cheburashka (1971),Animation,5.0,5.0,5.0,NaN
9560,173351,Wow! A Talking Fish! (1983),Animation|Children|Comedy|Fantasy,5.0,5.0,5.0,NaN
9561,173355,Travels of an Ant (1983),Animation,5.0,5.0,5.0,NaN
9563,173619,Fugitives (1986),Comedy|Crime,5.0,5.0,5.0,NaN
9568,173963,Empties (2007),Comedy,5.0,5.0,5.0,NaN
9575,174551,Obsession (1965),Comedy,5.0,5.0,5.0,NaN
9583,175293,Gena the Crocodile (1969),Animation|Children,5.0,5.0,5.0,NaN
9585,175387,On the Trail of the Bremen Town Musicians (1973),Adventure|Animation|Children,5.0,5.0,5.0,NaN
9586,175397,"In the blue sea, in the white foam. (1984)",Animation|Children|Fantasy,5.0,5.0,5.0,NaN
9588,175431,Bobik Visiting Barbos (1977),Animation|Comedy,5.0,5.0,5.0,NaN
9611,176601,Black Mirror,(no genres listed),5.0,5.0,5.0,NaN
9633,179133,Loving Vincent (2017),Animation|Crime|Drama,5.0,5.0,5.0,NaN
9634,179135,Blue Planet II (2017),Documentary,5.0,5.0,5.0,NaN
9688,184245,De platte jungle (1978),Documentary,5.0,5.0,5.0,NaN
9711,187717,Won't You Be My Neighbor? (2018),Documentary,5.0,5.0,5.0,NaN

### - 리뷰한 숫자 추가!

In [79]:
%%time

reviewed = ratings["movieId"].value_counts()
reviewed[1]

for movie in movies:
    movie_list.loc[ movie_list["movieId"]==movie, "reviewed" ] = reviewed[movie]

Wall time: 22.5 s

In [88]:
# movie_list.sort_values(by=['reviewed'], inplace=True, ascending=False)

movie_list.loc[ movie_list["mean"]==h_rate ].sort_values(by='reviewed', ascending=False).head()

,movieId,title,genres,mean,min,max,reviewed
2597,3473,Jonah Who Will Be 25 in the Year 2000 (Jonas q...,Comedy,5.0,5.0,5.0,2.0
4590,6818,Come and See (Idi i smotri) (1985),Drama|War,5.0,5.0,5.0,2.0
87,99,Heidi Fleiss: Hollywood Madam (1995),Documentary,5.0,5.0,5.0,2.0
48,53,Lamerica (1994),Adventure|Drama,5.0,5.0,5.0,2.0
4390,6442,Belle époque (1992),Comedy|Romance,5.0,5.0,5.0,2.0

In [87]:
movie_list.loc[ movie_list["mean"]> 4.5 ].sort_values(by='reviewed', ascending=False).head()

,movieId,title,genres,mean,min,max,reviewed
883,1178,Paths of Glory (1957),Drama|War,4.541667,3.5,5.0,12.0
796,1041,Secrets & Lies (1996),Drama,4.590909,4.0,5.0,11.0
2582,3451,Guess Who's Coming to Dinner (1967),Drama,4.545455,3.0,5.0,11.0
9618,177593,"Three Billboards Outside Ebbing, Missouri (2017)",Crime|Drama,4.750000,4.5,5.0,8.0
8301,106642,"Day of the Doctor, The (2013)",Adventure|Drama|Sci-Fi,4.571429,4.0,5.0,7.0

### 5. comedy 영화 중 평점이 가장 낮은 영화의 제목

#### Series.str.contains() 이 함수를 사용해서 문자열에 있는 값에 대한 boolean mask가 가능!

In [147]:
comedy_mask = movie_list.loc[:,"genres"].str.contains("Comedy")
movie_list[ comedy_mask ].head()

,movieId,title,genres,mean,min,max,reviewed
314,356,Forrest Gump (1994),Comedy|Drama|Romance|War,4.164134,0.5,5.0,329.0
257,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,4.197068,0.5,5.0,307.0
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,0.5,5.0,215.0
506,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,3.792350,0.5,5.0,183.0
520,608,Fargo (1996),Comedy|Crime|Drama|Thriller,4.116022,2.0,5.0,181.0

#### 코미디 영화의 가장 낮은 평균 평점

In [142]:
low_comedy = movie_list[ comedy_mask ][ "mean" ].min()
low_comedy

0.5

In [146]:
comedy_list = movie_list[ comedy_mask ]
comedy_list[ movie_list["mean"]== low_comedy].head()

C:\Anaconda\envs\data_env\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,movieId,title,genres,mean,min,max,reviewed
7820,92681,Journey 2: The Mysterious Island (2012),Action|Adventure|Comedy|Sci-Fi|IMAX,0.5,0.5,0.5,1.0
8248,104644,Maria Bamford: The Special Special Special! (2...,Comedy,0.5,0.5,0.5,1.0
8417,110773,"Haunted House 2, A (2014)",Comedy|Horror,0.5,0.5,0.5,1.0
9419,165645,Bad Santa 2 (2016),Comedy,0.5,0.5,0.5,1.0
9590,175475,The Emoji Movie (2017),Animation|Children|Comedy,0.5,0.5,0.5,1.0

### 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점

#### 2015년에 출시한 Romance영황의 평균 평점

In [154]:
romance_mask = movie_list.loc[:,"genres"].str.contains("Romance")
_2015 = movie_list.loc[:,"title"].str.contains("2015")
# 이게 된다는게 약간 어이 없는데??
movie_list[ _2015 ][ romance_mask ][ "mean" ].mean()

C:\Anaconda\envs\data_env\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

3.058333333333333

#### 2015년도에!! 평가된 Romance 영화의 평균 평점...

### 7. 2014년도에 평가된 Action 영화의 평점을 기준으로
상위 10위까지 영화 출력

In [163]:
_action = movie_list.loc[:,"genres"].str.contains("Action")
_2014 = movie_list.loc[:,"title"].str.contains("2014")
# movie_list.sort_values(by=['reviewed'], inplace=True, ascending=False)
movie_list[_action][_2014].sort_values(by=["mean"], ascending=False)[:10]

C:\Anaconda\envs\data_env\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,movieId,title,genres,mean,min,max,reviewed
8982,138632,Tokyo Tribe (2014),Action|Crime|Drama|Sci-Fi,5.000000,5.0,5.0,1.0
8422,111146,Alpha and Omega 3: The Great Wolf Games (2014),Action|Adventure|Animation|Children|Comedy,4.500000,4.5,4.5,1.0
8475,112852,Guardians of the Galaxy (2014),Action|Adventure|Sci-Fi,4.050847,1.0,5.0,59.0
8565,116668,Dead Snow 2: Red vs. Dead (2014),Action|Comedy|Horror,4.000000,3.5,4.5,2.0
8600,117867,'71 (2014),Action|Drama|Thriller|War,4.000000,4.0,4.0,1.0
8438,111759,Edge of Tomorrow (2014),Action|Sci-Fi|IMAX,3.977273,1.5,5.0,44.0
8404,110501,The Raid 2: Berandal (2014),Action|Crime|Thriller,3.928571,3.0,5.0,7.0
8533,114935,Predestination (2014),Action|Mystery|Sci-Fi|Thriller,3.900000,2.0,5.0,10.0
8357,108932,The Lego Movie (2014),Action|Adventure|Animation|Children|Comedy|Fan...,3.870968,1.0,5.0,31.0
8546,115617,Big Hero 6 (2014),Action|Animation|Comedy,3.853659,1.0,5.0,41.0