# Null 값 체크

    참 간단하면서 이해 안 되고 자주 망각하게 되는 null 값..

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [{'a': 1, 'b': 2, 'c': np.nan, 'd': 4}]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   a  b   c  d
0  1  2 NaN  4

## 실패 케이스

In [5]:
df.loc[0, 'c'] is None

False

In [6]:
df.loc[0, 'c'] == None

False

In [7]:
df.loc[0, 'c'] == False

False

In [8]:
df.loc[0, 'c'] == ''

False

In [9]:
df.loc[0, 'c'] == np.nan

False

In [10]:
df.loc[0, 'c'] is np.nan

False

## 성공 케이스

In [11]:
pd.isnull(df.loc[0, 'c'])

True

In [12]:
np.isnan(df.loc[0, 'c'])

True